<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Histórico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-item-sliding *ngFor="let historico of listaHistorico">
    <ion-item lines="full">
      <div slot="start">
        <br>
        <br>
        <ion-icon color="success" name="qr-code"></ion-icon>
      </div>

      <ion-label>
        <div>
          <p class="ion-text-righ line">
            {{historico.dataHora | date: 'short' : '': 'pt'}}

          </p>
          <p class="resultado">
            {{historico.leitura}}
          </p>
        </div>
      </ion-label>
      <div slot="end" (click)="deletar($historico.$key)">
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </div>
    </ion-item>


    <ion-item>


      <ion-label>Item Options</ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger"></ion-item-option>
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-options>
  </ion-item-sliding>


</ion-content>